<%- include("partials/header.ejs") %>

<div class="row main-container p-0">   
    <div class="col-2 p-0">            
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 sidebar">
            <span class="px-5 fs-5 fw-semibold">Posts</span>
            <div class="list-group list-group-flush border-bottom scrollarea sidebar">
                <% if (locals.blogs) { 
                    for(let i = locals.blogs.length-1; i >= 0; i--){%>
                        <a href="/view/<%= i%>" class="list-group-item list-group-item-action py-3 lh-sm " aria-current="true" >
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1 overflow-hidden"><%= locals.blogs[i].title%></strong>
                                <small><%= locals.blogs[i].date%></small>
                            </div>
                        </a>
                    <%}; %>  
                <% } %>              
            </div>
        </div>
    </div>

    <div class="col-10 p-0 container-fluid d-flex flex-column align-items-stretch ">
        <% if (locals.blogs.length !==0) {%>     
            <div class="m-5 p-5 d-flex flex-column">           
            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1"><%= locals.blogs[locals.index].title%></h2>
                <p class="blog-post-meta">by <em><%=locals.blogs[locals.index].author%></em></p>
                <p> <%= locals.blogs[locals.index].date %> </p>
                <hr>
                <p class="flex-wrap"><%= locals.blogs[locals.index].content %></p>
                <div class="d-flex justify-content-end">
                    <a href="/write/<%= locals.index%>"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square icons" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a>
                    <a href="/delete/<%= locals.index%>"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash icons" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg></a>
                </div>
            </article>
        </div>
        <% }else{ %>
        <div class="m-5 p-5 main-container d-flex flex-column justify-content-center align-items-center">
            <h1>No Posts Yet.</h1>
            <a href="/write" class="btn btn-primary rounded-pill mt-5">Start Writing</a>           
        </div>
        <% } %>        
    </div>
</div>         


<%- include("partials/footer.ejs") %>