<%- include("partials/header.ejs") %>
<div class="m-5 p-5 d-flex justify-content-center flex-column align-items-center ">
    <h1>Write about something...</h1>

    <% if (!locals.blogs) { %>
    <form action="/submit" method="POST" class="write-blog">
    <% } else{%>
    <form action="/edited/<%= locals.index%>" method="POST" class="write-blog">
      <% } %>
        <div class="mb-3">
          <label for="blog-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="blog-title" placeholder="Blog Title" name="blogTitle" required
          <% if (!locals.blogs) { %> value = "" <% }else{%> value = "<%= locals.blogs[locals.index].title %> " <% } %>>
        </div>
        <div class="mb-3">
            <label for="blog-author" class="form-label">Author</label>
            <input type="text" class="form-control" id="blog-author" placeholder="Author's name is optional" name="blogAuthor"
            <% if (!locals.blogs) { %> value = "" <% }else{%> value = "<%= locals.blogs[locals.index].author %> " <% } %>>
          </div>
        <div class="mb-3">
          <label for="blog-content" class="form-label">Content</label>
          <textarea class="form-control write-blog-content" rows="3" id="blog-content" placeholder="What's up?" 
          name="blogContent" required><% if (locals.blogs) {%><%= locals.blogs[locals.index].content %><% } %></textarea>

        </div>
        <div class="mt-3 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
        </div>        
    </form>

</div>
<%- include("partials/footer.ejs") %>